body {
    background-color:gray;
    /* You only generally need to declare your font-family once for the body and then let that rule cascade down to every element */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
	
    height: 75px;
    background-color:white;
    text-align:center;
    font-size: 18px;
    color:grey;

    /* 
        Doing this margin: 15px auto; will generally automatically center your content 
        within its parent container as long as you have a width set for it 
    */
    margin: 10px auto;
    width: 960px;
    
}

nav {
    height:80px;
    background-color:white;
    text-align: center;
    font-size: 18px;
    
    color: grey;
    width: 960px;
    margin: 10px auto;


}

#container{
    height: 270px;
    margin: 0 auto;
    width: 960px;
    overflow: auto;
}

#first {
    width: 60%;
    height: 270px;
    float: left; 
    background-color: white;
    text-align: center;
    color:grey;
    margin-right: 5px;
}

.article {
    background-color: grey;
    margin: 15px auto;
    width: 90%;
    height: 180px;
    text-align: center;
    color: white;
}

.headers_1 {
	width: 90%;
    height: 40px;
    background-color: white;
    text-align: center;
    margin: 15px auto;
    color:grey;


}

.para {
    width: 90%;
    height: 40px;
    background-color: white;   
    margin: 15px auto;
    text-align: center;
    color:grey;
}

#second {
    width: 35%;
    float: right; 
    background-color: white;
    text-align: center;
    color: grey;
    padding: 20px;
    height: 270px;
}

footer {
    height: 75px;
    background-color:white;
    margin-top: 10px;
    text-align:center;
    font-size: 18px;
    color:grey;
    margin: 10px auto;
    width: 960px;
}










